body {
    text-align: center;
    background-color: rgb(10, 10, 59);
    color: #fff;
}

.btn {
    height: 20vh;
    width: 20vw;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    margin: 2.5rem;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #f14a7c;
}

.green {
    background-color: #63aac0;
}

.yellow {
    background-color: #f99b45;
}

.purple {
    background-color: #b541df;
}

.startGame {
    padding: 10px;
    font-weight: 600;
    font-style: italic;
    border-radius: 5px;
    border: 0;
}

.flash {
    background-color: #fff;
}

.userflash {
    background-color: rgb(100, 222, 100);
}

.gameOver {
    background-color: red;
}