body {
  text-align: center;
  background-color: rgb(10, 10, 59);
  color: #fff;
}

.btn {
  height: 20vh;
  width: 20vw;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  margin: 2.5rem;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.red {
  background-color: #f14a7c;
  cursor: pointer;
}

.green {
  background-color: #63aac0;
  cursor: pointer;
}

.yellow {
  background-color: #f99b45;
  cursor: pointer;
}

.purple {
  background-color: #b541df;
  cursor: pointer;
}

.startGame {
  padding: 10px;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.flash {
  background-color: #fff;
}

.userflash {
  background-color: rgb(100, 222, 100);
}

.gameOver {
  background-color: red;
}

/* Rules page style */

.go-rules {
  font-size: 2vw;
  color: #cef3b2;
  text-decoration: none;
  transition: 0.5s;
}
.go-rules:hover {
  color: hsl(298, 74%, 81%);
}

.back-game {
  font-size: 2vw;
  color: #cef3b2;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
}

main #box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #84f18a;
}

#box .rules-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#box .rules-box mark {
  font-size: 1.2vw;
  padding: 8px;
  border-radius: 4px;
}

.rules-box mark span {
  animation: lighting2 2s infinite linear;
}

.back-game{
  background-color: #06366e;
  padding: 5px;
  border-radius: 5px;
}

.ani-rules {
  animation: lighting 2s infinite linear;
}

@keyframes lighting {
  0% {
    color: #4b0082;
  }
  50% {
    color: #e65a19;
  }
  100% {
    color: #002d62;
  }
}

@keyframes lighting2 {
  0% {
    color: #ff0000;
  }
  50% {
    color: #2500f5;
  }
  100% {
    color: #00ff33;
  }
}